#canvas1 {
  width: 1800px;
  height: 900px;
  border: 1px solid rgb(247, 0, 0);
  background: #2b2a29;
  /* center is using Pos Abso, and it will auto ajust */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
}
body {
  background-color: black;
  overflow: hidden;
}
#health {
  position: relative;
  top: -2%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 40px;
  background-color: #332833;
  border-radius: 2px;
  padding: 3px;
  z-index: 1;
  /* display: none; */
}
#healthE {
  position: relative;
  top: -2%;
  right: -50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 40px;
  background-color: #cc1240;
  border-radius: 2px;
  padding: 2px;
  z-index: 1;
  /* display: none; */
}
.health-container {
  width: 1800px;
  height: 900px;
  /* border: 1px solid rgb(247, 0, 0); */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
